<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42769279871-f6nn879m4fbvf5q6canpcb3knq8pmiu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42769279871-f6nn879m4fbvf5q6canpcb3knq8pmiu9</string>
	<key>API_KEY</key>
	<string>AIzaSyA70UeFoFpkA1gMfXJ6a75oydAN-czzD4c</string>
	<key>GCM_SENDER_ID</key>
	<string>42769279871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.appdeapps</string>
	<key>PROJECT_ID</key>
	<string>mapout-341518</string>
	<key>STORAGE_BUCKET</key>
	<string>mapout-341518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42769279871:ios:b82e0e920a88d6e317884a</string>
</dict>
</plist>